body {
  background-color:#EFE1CE;
}

input[type=number] {
  background-color: #dddddd;
}
input[type=number]:focus {
  background-color:#d6d6d6b2;
}

.input-group-text {
  background-color: #939597;
}